<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="vue-app" v-cloak>
      <div class="tab-container">
        <div class="tab">
          <button
            class="tablinks"
            v-for="(section, id) in sections"
            :key="id"
            @click="selectTab(id)"
            :class="{ active: activeTab === id }"
          >
            {{ section.title }}
          </button>
        </div>

        <div
          v-for="(section, id) in sections"
          :id="id"
          class="tabcontent"
          v-show="activeTab === id"
          :key="id"
        >
          <!-- Основная информация -->
          <div v-if="id === 'mainInfo'">
            <h3>Основная информация</h3>

            <form @submit.prevent="validateAndSubmit('mainInfo')">
              <input-field
                id="surname"
                label="Фамилия"
                type="text"
                :maxlength="20"
                :required="true"
                :error="false"
                error-message="Введите фамилию"
                :is-submit-attempted="isSubmitAttempted"
                section-name="mainInfo"
                v-model="sections.mainInfo.surname"
              ></input-field>
              <input-field
                id="name"
                label="Имя"
                type="text"
                :maxlength="20"
                :required="true"
                :error="false"
                error-message="Введите имя"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.mainInfo.name"
              ></input-field>
              <input-field
                id="profile"
                label="Логин на RTTF"
                type="text"
                :maxlength="30"
                :error="false"
                error-message="Введите ваш логин"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.mainInfo.profile"
              ></input-field>
              <input-field
                id="subtitle"
                label="Подзаголовок (имя и статус тренера)"
                type="text"
                :maxlength="50"
                :required="true"
                :error="false"
                error-message="Введите подзаголовок сайта"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.mainInfo.subtitle"
              ></input-field>
              <input-field
                id="displayedTitle"
                label="Заголовок (основной текст в верхнем блоке)"
                type="textarea"
                :maxlength="100"
                :required="true"
                :error="false"
                error-message="Введите заголовок сайта"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.mainInfo.displayedTitle"
              ></input-field>

              <photo-upload
                :label="'Аватар (показывается в шапке сайта и контактах)'"
                v-model="sections.mainInfo.imageData"
                :is-avatar="true"
                :section-id="'mainInfo'"
                @image-uploaded="handleImageUpload"
              ></photo-upload>
              <div class="button-container">
                <button type="submit" class="save-button">Сохранить</button>
              </div>
            </form>
          </div>

          <!-- О себе -->
          <div v-if="id === 'aboutMe'">
            <h3>О себе</h3>
            <form @submit.prevent="validateAndSubmit('aboutMe')">
              <input-field
                id="displayedTitle"
                label="Заголовок"
                type="text"
                :maxlength="50"
                :required="true"
                :error="false"
                error-message="Введите отображаемый заголовок"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.aboutMe.displayedTitle"
              ></input-field>
              <input-field
                id="description"
                label="Краткое описание"
                type="textarea"
                :maxlength="1000"
                :required="true"
                :error="false"
                error-message="Введите краткое описание"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.aboutMe.description"
              ></input-field>

              <!-- Форма загрузки картинки -->
              <photo-upload
                :label="'Фотография тренера для раздела (JPG, PNG, WebP, не более 10мб.)'"
                v-model="sections.aboutMe.imageData"
                :is-avatar="false"
                :section-id="'aboutMe'"
                @image-uploaded="handleImageUpload"
              ></photo-upload>

              <!-- Достижения с эмодзи и текстом -->

              <feature-list
                v-if="sections.aboutMe.featuresList"
                :is-submit-attempted="isSubmitAttempted"
                :initial-features="sections.aboutMe.featuresList"
                :include-title="false"
                :section-id="'aboutMe'"
                :ref="'featureList-aboutMe'"
                @updateFeatures="handleFeatureUpdate"
                list-title="Достижения (не более 10)"
              ></feature-list>

              <div class="button-container">
                <button type="submit" class="save-button">Сохранить</button>
              </div>
            </form>
          </div>

          <!-- Групповые тренировки -->
          <div v-if="id === 'groupTraining'">
            <div class="header-with-toggle">
              <h3>Групповые тренировки</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input
                    type="checkbox"
                    v-model="sections.groupTraining.showBlock"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div
              :class="{ 'disabled-block': !sections.groupTraining.showBlock }"
            >
              <form @submit.prevent="validateAndSubmit('groupTraining')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.groupTraining.displayedTitle"
                ></input-field>
                <input-field
                  id="description"
                  label="Краткое описание"
                  type="textarea"
                  :maxlength="1000"
                  :required="true"
                  :error="false"
                  error-message="Введите краткое описание"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.groupTraining.description"
                ></input-field>

                <!-- Форма загрузки картинки -->
                <photo-upload
                  :label="'Фотография'"
                  v-model="sections.groupTraining.imageData"
                  :is-avatar="false"
                  :section-id="'groupTraining'"
                  @image-uploaded="handleImageUpload"
                ></photo-upload>

                <!-- Переключатель "Показать мои тренировки с RTTF" -->
                <div class="toggle-container mg-top-32">
                  <span>Показать мои тренировки с RTTF</span>
                  <label class="switch">
                    <input
                      type="checkbox"
                      v-model="sections.groupTraining.showRTTF"
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('groupTraining')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'individualTraining'">
            <div class="header-with-toggle">
              <h3>Индивидуальные тренировки</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input
                    type="checkbox"
                    v-model="sections.individualTraining.showBlock"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div
              :class="{ 'disabled-block': !sections.individualTraining.showBlock }"
            >
              <form @submit.prevent="validateAndSubmit('individualTraining')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.individualTraining.displayedTitle"
                ></input-field>
                <input-field
                  id="description"
                  label="Краткое описание"
                  type="textarea"
                  :maxlength="1000"
                  :required="true"
                  :error="false"
                  error-message="Введите краткое описание"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.individualTraining.description"
                ></input-field>

                <!-- Форма загрузки картинки -->
                <photo-upload
                  :label="'Фотография'"
                  v-model="sections.individualTraining.imageData"
                  :is-avatar="false"
                  :section-id="'individualTraining'"
                  @image-uploaded="handleImageUpload"
                ></photo-upload>

                <feature-list
                  v-if="sections.individualTraining.featuresList"
                  :initial-features="sections.individualTraining.featuresList"
                  :include-title="true"
                  :ref="'featureList-individualTraining'"
                  :is-submit-attempted="isSubmitAttempted"
                  @updateFeatures="handleFeatureUpdate"
                  list-title="Элементы тренировок"
                ></feature-list>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('individualTraining')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'prices'">
            <div class="header-with-toggle">
              <h3>Цены</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.prices.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.prices.showBlock }">
              <form @submit.prevent="validateAndSubmit('prices')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.prices.displayedTitle"
                ></input-field>

                <div class="cards-container">
                  <div
                    v-for="(card, index) in sections.prices.cards"
                    class="element-block"
                  >
                    <div v-if="!card.isDeleted">
                      <div class="card-header">
                        <span>Карточка {{ index + 1 }}</span>

                        <div
                          class="remove-button"
                          @click="removeItem(index, sections.prices.cards)"
                        >
                          <img src="delete.svg" alt="Удалить" />
                          Удалить
                        </div>
                      </div>
                      <input-field
                        :id="'title-' + index"
                        label="Заголовок"
                        type="text"
                        :maxlength="30"
                        :required="true"
                        :error="card.error"
                        error-message="Введите заголовок карточки"
                        v-model="card.title"
                      ></input-field>

                      <input-field
                        :id="'price-' + index"
                        label="Цена"
                        type="text"
                        :maxlength="10"
                        :required="true"
                        :error="card.error"
                        error-message="Введите цену"
                        v-model="card.price"
                      ></input-field>

                      <input-field
                        :id="'description-' + index"
                        label="Описание"
                        type="textarea"
                        :maxlength="200"
                        :required="true"
                        :error="card.error"
                        error-message="Введите описание"
                        v-model="card.description"
                      ></input-field>
                      <div
                        v-if="card.error && isSubmitAttempted"
                        class="error-message"
                      >
                        Все поля должны быть заполнены или пустыми.
                      </div>
                    </div>
                    <div v-else class="restore-button">
                      <div>Карточка удалена</div>
                      <div
                        @click="restoreItem(index, sections.prices.cards)"
                        style="color: var(--pp-blue)"
                      >
                        Восстановить
                      </div>
                    </div>
                  </div>

                  <button
                    type="button"
                    @click="addCard('prices')"
                    class="add-button-new"
                  >
                    + Добавить карточку
                  </button>
                </div>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('prices')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'reviews'">
            <div class="header-with-toggle">
              <h3>Отзывы</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.reviews.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.reviews.showBlock }">
              <form @submit.prevent="validateAndSubmit('reviews')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.reviews.displayedTitle"
                ></input-field>
                <!-- <p class="hint">
                  Выберите отзывы для отображения со своей <a :href="`https://rttf.ru/coaches/${trainerID}`">страницы тренера</a> на
                  RTTF, выбрав “Показать на персональной странице” рядом с
                  отзывом.
                </p> -->
                <p class="hint">
                  Показываются все отзывы со страницы
                  <a :href="`https://rttf.ru/coaches/${trainerID}`">
                    вашего профиля на RTTF</a
                  >. Если пока отзывов на RTTF нет, блок "Отзывы" будет скрыт на
                  лендинге автоматически.
                </p>
                <!-- Переключатель "Показать мои тренировки с RTTF" -->
                <div class="toggle-container mg-top-32">
                  <span>Показать средний рейтинг</span>
                  <label class="switch">
                    <input
                      type="checkbox"
                      v-model="sections.reviews.showAverageRating"
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('reviews')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'clubs'">
            <div class="header-with-toggle">
              <h3>Клубы</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.clubs.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.clubs.showBlock }">
              <form @submit.prevent="validateAndSubmit('clubs')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.clubs.displayedTitle"
                ></input-field>
                <div
                  class="input-wrapper"
                  v-for="(club, index) in sections.clubs.list"
                  :key="club.id"
                >
                  <label class="club-label" :for="'club-' + index"
                    >Клуб {{ index + 1 }}</label
                  >
                  <div class="autocomplete-wrapper">
                    <input
                      :id="'club-' + index"
                      type="text"
                      v-model="club.title"
                      :class="{'input-club': true, 'error-border': club.error}"
                      autocomplete="off"
                      @input="filterClubs($event.target.value, index, $event)"
                      @keydown="handleKeyDown($event, index)"
                      @blur="delayedBlur"
                    />
                    <div v-if="club.error" class="error-message">
                      Клуб не существует или написан с ошибкой
                    </div>

                    <ul
                      v-if="currentSuggestions.length && currentSuggestionIndex === index"
                      class="suggestions"
                      ref="suggestionsList"
                      key="index"
                    >
                      <li
                        v-for="(suggestion, suggestionIndex) in currentSuggestions"
                        :key="index + '-' + suggestion.id"
                        @click="selectClub(suggestion)"
                        :class="{ 'highlighted': suggestionIndex === highlightedSuggestion }"
                      >
                        <span
                          v-html="suggestion.title"
                          class="club-name"
                        ></span>
                        <span
                          class="club-address"
                          v-html="formatAddress(suggestion)"
                        ></span>
                      </li>
                    </ul>
                  </div>
                </div>

                <button @click="addClub" type="button" class="add-button">
                  + Добавить клуб
                </button>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('clubs')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <!-- Преимущества НТ -->
          <div v-if="id === 'benefitsTT'">
            <div class="header-with-toggle">
              <h3>Преимущества настольного тенниса</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input
                    type="checkbox"
                    v-model="sections.benefitsTT.showBlock"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>

            <div :class="{ 'disabled-block': !sections.benefitsTT.showBlock }">
              <form @submit.prevent="validateAndSubmit('benefitsTT')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.benefitsTT.displayedTitle"
                ></input-field>

                <!-- Форма загрузки картинки -->
                <photo-upload
                  :label="'Фотография'"
                  v-model="sections.benefitsTT.imageData"
                  :is-avatar="false"
                  :section-id="'benefitsTT'"
                  @image-uploaded="handleImageUpload"
                ></photo-upload>

                <!-- Достижения с эмодзи и текстом -->
                <feature-list
                  v-if="sections.benefitsTT.featuresList"
                  :initial-features="sections.benefitsTT.featuresList"
                  :include-title="false"
                  :ref="'featureList-benefitsTT'"
                  :is-submit-attempted="isSubmitAttempted"
                  @updateFeatures="handleFeatureUpdate"
                  list-title="Польза настольного тенниса"
                ></feature-list>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('benefitsTT')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <!-- FAQ -->
          <div v-if="id === 'faq'">
            <div class="header-with-toggle">
              <h3>Часто задаваемые вопросы</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.faq.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.faq.showBlock }">
              <!-- Заголовок FAQ -->
              <form @submit.prevent="validateAndSubmit('faq')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.faq.displayedTitle"
                ></input-field>

                <!-- Вопросы и ответы -->
                <div
                  v-for="(qa, index) in sections.faq.qas"
                  :key="index"
                  class="faq-block"
                  :class="{'fade-out': qa.fadeOut}"
                >
                  <div v-if="!qa.isDeleted">
                    <input-field
                      :id="'question-' + index"
                      :label="'Вопрос ' + (index + 1)"
                      type="textarea"
                      :maxlength="200"
                      :required="true"
                      :error="qa.questionError"
                      error-message="Заполните вопрос"
                      :is-submit-attempted="isSubmitAttempted"
                      v-model="qa.question"
                    ></input-field>

                    <input-field
                      :id="'answer-' + index"
                      :label="'Ответ ' + (index + 1)"
                      type="textarea"
                      :required="true"
                      :maxlength="500"
                      :error="qa.answerError"
                      error-message="Заполните ответ"
                      :is-submit-attempted="isSubmitAttempted"
                      v-model="qa.answer"
                    ></input-field>

                    <div
                      class="remove-button"
                      @click="removeItem(index, sections.faq.qas)"
                    >
                      <img src="delete.svg" alt="Удалить" class="remove-icon" />
                      Удалить
                    </div>
                  </div>

                  <div v-else class="restore-button">
                    <div>Вопрос удален</div>
                    <div
                      @click="restoreItem(index, sections.faq.qas)"
                      style="color: var(--pp-blue)"
                    >
                      Восстановить
                    </div>
                  </div>
                </div>
                <button
                  @click="addQA"
                  type="button"
                  class="add-button-new"
                  v-if="sections.faq.qas.length < 10"
                >
                  + Добавить вопрос и ответ
                </button>
                <div class="button-container">
                  <button type="submit" class="save-button">Сохранить</button>
                </div>
              </form>
            </div>
          </div>

          <div v-if="id === 'videos'">
            <div class="header-with-toggle">
              <h3>Видео со мной</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.videos.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.videos.showBlock }">
              <form @submit.prevent="validateAndSubmit('videos')">
                <input-field
                  id="displayedTitle"
                  label="Заголовок"
                  type="text"
                  :maxlength="50"
                  :required="true"
                  :error="false"
                  error-message="Введите отображаемый заголовок"
                  :is-submit-attempted="isSubmitAttempted"
                  v-model="sections.videos.displayedTitle"
                ></input-field>
                <p class="hint">
                  Показываются видео со страницы тренера на RTTF. Вы можете
                  выбрать их в разделе видео, нажав на значок "Показать на
                  личном сайте"
                </p>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('videos')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="activeTab === 'contacts'">
            <h3>Контакты</h3>

            <form @submit.prevent="validateAndSubmit('contacts')">
              <input-field
                id="phone"
                label="Телефон"
                type="phone"
                :maxlength="20"
                :required="true"
                :error="false"
                error-message="Телефон обязателен к заполнению"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.contacts.phone"
              ></input-field>
              <input-field
                id="whatsapp"
                label="WhatsApp"
                type="text"
                :maxlength="20"
                :required="false"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.contacts.whatsapp"
              ></input-field>

              <input-field
                id="telegram"
                label="Telegram"
                type="text"
                :maxlength="20"
                :required="false"
                :is-submit-attempted="isSubmitAttempted"
                v-model="sections.contacts.telegram"
              ></input-field>
              <p>
                Для получения оповещений в телеграм, заполните telegram_ID в
                своём профиле на RTTF.ru
              </p>
              <div class="button-container">
                <button type="submit" class="save-button">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
        <div v-if="saveSuccessful" class="save-success-message">
          Изменения сохранены
        </div>
        <div
          v-if="errorMessage"
          class="save-success-message save-error-message"
        >
          <p>Не получилось сохранить</p>
          <p>{{ errorMessage }}</p>
          <div class="buttons-row">
            <button @click="openRTTF" class="ok-button">
              Открыть RTTF в другой вкладке
            </button>
            <button @click="closeErrorMessage" class="ok-button">
              Я как-нибудь сам
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3.4.5"></script>
    <script src="script.js"></script>
  </body>
</html>
